python-telegram-bot==20.3
pandas==2.1.4
numpy==1.24.3
httpx==0.24.0
websocket-client==1.6.3
Flask==2.3.3
nest_asyncio==1.6.0
git+https://github.com/baselsm/tvdatafeed.git
selenium==4.15.0
webdriver-manager==4.0.1
